
<div id="customer-form-container">
<%= form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>


    <%= fields_for @order do |o| %>
        <div class="control-group">
          <%= o.label :delivery_method, "Versandart", :class => 'control-label' %>
          <div class="controls">


            <%= o.radio_button :delivery_method, "E-Mail" %>
            <%= o.label :delivery_method_email, "E-Mail", :class => 'radio inline' %>
          </div>
          <div class="controls">
            <%= o.radio_button :delivery_method, "Hinterlegung" %>
            <%= o.label :delivery_method_mail, "Hinterlegung an der Abendkasse".html_safe, :class => 'radio inline' %>


          </div>

    <% end  %>

    <hr>

  <div class="control-group">
    <%= f.label :designation, "Anrede", :class => 'control-label' %>
    <div class="controls">


      <%= f.radio_button :designation, "Herr" %>
      <%= f.label :designation_male, "Herr", :class => 'radio inline' %>
    </div>
    <div class="controls">
      <%= f.radio_button :designation, "Frau" %>
      <%= f.label :designation_female, "Frau", :class => 'radio inline' %>


    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, "Vorname", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field input-medium' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, "Nachname", :class => 'control-label input-medium' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field input-medium' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :email, "E-Mail", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field input-medium' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :childrens_class, "Kind(er) in Klasse", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :childrens_class, :class => 'text_field input-medium' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit "Weiter", :class => 'btn btn-inverse' %>
    <%= link_to "Abbrechen", customers_path, :class => 'btn' %>
  </div>
<% end %>
</div>
</div>
