<%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

          <ul>
            <% @customer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :designation %><br />
      <%= f.text_field :designation %>
    </div>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :street_name %><br />
      <%= f.text_field :street_name %>
    </div>
    <div class="field">
      <%= f.label :street_number %><br />
      <%= f.text_field :street_number %>
    </div>
    <div class="field">
      <%= f.label :zip_code %><br />
      <%= f.text_field :zip_code %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :childrens_class %><br />
      <%= f.text_field :childrens_class %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>