<h1>Listing customers</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Children's<br/>class</th>
    <th>Orders</th>
    <th></th>
    <th></th>
  </tr>

  <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to "#{(customer.designation == "female") ? "Frau" : "Herr"} #{customer.full_name}", customer %></td>
        <td><%= mail_to customer.email %></td>
        <td><%= customer.childrens_class %></td>
        <td>
          <ol>
            <% customer.orders.each do |order| %>
              <%= link_to order do %>
                <li>
                  <% order.getSeatsPerTable.each do |table, seats| %>
                    <%= "#{table.caption}: #{seats.length} #{seats.length == 1 ? "Platz" : "Plätze"}" %>
                    <br />
                  <% end %>
                  <i>(<%= order.status %>)</i>
                </li>
              <% end %>
            <% end %>
          </ol>
        </td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />
