<div class="page-header">
  <h1>Zusammenfassung</h1>
</div>

<%= render :partial => 'selectionViewer' %>

<div id="customer-view-container">
  <h3>Ihre Angaben:</h3>
<dl class="dl-horizontal">
  <% unless @customer.designation.nil? %>
  <dt><h4>Anrede:</h4></dt>
  <dd><h4><%= @customer.designation %></h4></dd>
  <br>
  <% end	  %>
  <dt><h4>Vorname:</h4></dt>
  <dd><h4><%= @customer.first_name %></h4></dd>
  <br>
  <dt><h4>Nachname:</h4></dt>
  <dd><h4><%= @customer.last_name %></h4></dd>
  <br>
  <dt><h4>E-Mail-Adresse:</h4></dt>
  <dd><h4><%= @customer.email %></h4></dd>

  <% if @customer.childrens_class != '' %>
  <br>
  <dt><h4>Kinder in Klasse:</h4></dt>
  <dd><h4><%= @customer.childrens_class %></h4></dd>
  <% end	  %>
</dl>

<div id=edit-customer-button-div>
    <%= link_to("Ändern", edit_customer_path(@customer), {:class => "btn", :id => "edit-customer-button"}) %>
</div>

<hr>
</div>
