<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= link_to @order.customer.full_name, @order.customer %>
</p>

<p>
  <b>Amount:</b>
  <%= "#{@order.amount} €" %>
</p>

<p>
  <b>Delivery method:</b>
  <%= @order.delivery_method %>
</p>

<p>
  <b>Plätze:</b><br />
  <% @order.getSeatsPerTable.each do |table, seats| %>
    <%= raw("&nbsp;<b>#{table.caption}:</b> #{seats.length} #{seats.length == 1 ? "Platz" : "Plätze"} ") %>
      <i>(Nummern <%= seats.collect{|seat| seat.position}.sort!.join(", ").sub(/(.*)\, /, '\1 und ') %>)</i>
    <br />
  <% end %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
