<h2>Anmelden</h2>
<br/>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="control-group">
    <%= f.label :email, "E-Mail-Adresse", :class => 'control-label'  %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, "Passwort", :class => 'control-label'  %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <div class="controls">
        <%= f.label :remember_me, :class => 'checkbox' do %>
          <%= f.check_box :remember_me %>
          Eingeloggt bleiben
        <% end %>
      </div>
    </div>
  <% end -%>

  <div class="form-actions">
    <%= f.submit "Einloggen", :class => 'btn btn-inverse' %>
  <div>
<% end %>

<%= render "devise/shared/links" %>
