
<div id="customer-form-container">
<%= form_for @customer, :url => :createCustomer, :html => { :class => 'form-horizontal' } do |f| %>


    <%= fields_for @order do |o| %>
      <div class="control-group">
        <%= o.label :delivery_method, "Versandart", :class => 'control-label' %>
        <div class="controls">
          <%= o.label :delivery_method_email, :class => 'radio' do %>
            E-Mail
            <%= o.radio_button :delivery_method, "Email", :checked => true %>
          <% end %>
        </div>
        <div class="controls">
          <%= o.label :delivery_method_hinterlegung, :class => 'radio' do %>
            Hinterlegung an der Abendkasse
            <%= o.radio_button :delivery_method, "Hinterlegung" %>
          <% end %>
        </div>
    <% end  %>

  <hr>

  <div class="control-group">
    <%= f.label :designation, "Anrede", :class => 'control-label' %>
    <div class="controls">
      <%= f.label :designation_male, :class => 'radio' do %>
        Herr
        <%= f.radio_button :designation, :male %>
      <% end %>
    </div>
    <div class="controls">
      <%= f.label :designation_female, :class => 'radio' do %>
        Frau
        <%= f.radio_button :designation, :female %>
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, "Vorname", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field input-medium' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, "Nachname", :class => 'control-label input-medium' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field input-medium' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :email, "E-Mail", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field input-medium' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :childrens_class, "Kind(er) in Klasse", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :childrens_class, :class => 'text_field input-medium' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit "Weiter", :url => :customer, :class => 'btn btn-inverse' %>
    <%= link_to "Abbrechen", :cancel, :class => 'btn' %>
  </div>
<% end %>
</div>
</div>
