<h2> Ihre Daten wurden erfolgreich &uuml;bermittelt. </h2>
<h2> Vielen Dank f&uuml;r Ihre Bestellung! </h2>
<br/>
<p class="lead">Sie erhalten innerhalb der n&auml;chsten Minuten eine Reservierungsbest&auml;tigung per E-Mail zugeschickt.</p>
<br>
<p class="lead">Die Karten sind nun 14 Tage f&uuml;r Sie reserviert. <br> Bitte &uuml;berweisen Sie innerhalb dieser Zeit <strong><%= @amount %></strong> auf folgendes Konto:</p>
<p class="lead"> Kontoinhaber:<%= Figaro.env.kontoinhaber %><br>
  Kontonummer: <%= Figaro.env.kontonummer %> <br>
  Bankleitzahl: <%= Figaro.env.bankleitzahl %>  <br>
</p>

<p class="lead">Sollten wir innerhalb von 14 Tagen keine Zahlung von Ihnen verzeichnen, werden die von Ihnen reservierten Karten wieder f&uuml;r den Verkauf freigegeben.</p>

<hr>
<h2>Sie möchten Ihre Tanzkenntnisse auffrischen?</h2>
<h2>Wir bieten Ihnen <%= link_to "hier", :dance_training %> Tanzstunden zur Auffrischung an.</h2>
<hr>

<p class="lead">Bei Fragen oder sonstigen Anliegen wenden Sie sich bitte an <%= mail_to Figaro.env.theresienball_mail,Figaro.env.theresienball_mail %>.</p>


