<div class="page-header">
  <h1>Buchungen</h1>
</div>
<div class="hero-unit">






<div id=booking-canvas>

<%  @table_and_seat_data.each do |table,seats| %>
      <div id=table-<%= table.position %>>
      <div class=caption-container-table-<%= table.orientation %>><h3 class=caption-text-table-<%= table.orientation %>>Tisch <%= table.position %> </2></div>
      <% seats.each do |seat| %>
      <div class=seat-<%= seat.position %>-<%= table.orientation %> id=seat-<%= seat.id %> ><%= image_tag("unoccupied.png", :class => 'seat', :name => 'unoccupied')%></div>
      <% end %>


      </div>

     <% end  %>



</div>
</div>

