<div id class="page-header">
  <div id="logo-container">
    <%= image_tag("logo.png") %>
  </div>
</div>

<div id="dancers-container">
  <br/>
  <%= image_tag("dancers.png") %>


</div>
<div id="index-text">

  <p class="lead">
    Der diesj&auml;hrige Theresienball findet am <strong><%= Figaro.env.termin %></strong> <%= Figaro.env.zeit %> <%= Figaro.env.ort %> statt.
  </p>

  <p class="lead">Musikalisch begleitet werden wir von <%= Figaro.env.band %>.
    <br>F&uuml;r die eingeschworenen Nichtt&auml;nzer haben wir ein R&uuml;ckzugsgebiet vorgesehen!
  </p>

  <p class="lead">Um Karten zu bestellen, klicken Sie bitte <%= link_to "hier", :booking %>.
  </p>
  <% if Figaro.env.tanzstundenanmeldung == "true" %>
  <p class="lead">M&ouml;chten Sie Ihre Tanzkenntnisse im Vorfeld des Balls etwas auffrischen, bieten wir Ihnen <%= link_to "hier", :dance_training %> die Gelegenheit dazu.
  </p>
  <% end %>

  <p class="lead">Wir freuen uns auf einen sch&ouml;nen Ballabend.</p>

  <p class="lead">Das Theresienball-Team</p>
</div>










