<%= simple_form_for(@dance_training_registration) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: 'Vorname' %>
    <%= f.input :last_name, label: 'Nachname' %>
    <%= f.input :email, label: 'E-Mail' %>
    <%= f.input :amount, label: 'Anzahl Personen' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Abschicken' %>
  </div>
<% end %>
